name: Testing calendarize_news
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        php: ["7.3", "7.4"]
        typo3: ["10.4"]
        exclude:
          # leave this in here for later when TYPO3 v11 and PHP 8 support is added
          - php: "8.0"
            typo3: "10.4"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer

      - name: Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Get composer cache directory
        id: composercache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache composer dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composercache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install the right version(s)
        run: composer require "typo3/cms-core:^${{ matrix.typo3 }}" "typo3/cms-extbase:^${{ matrix.typo3 }}" "typo3/cms-workspaces:^${{ matrix.typo3 }}" -W

      - name: composer validate
        run: composer validate

      - name: Run PHP CS Fixer checks
        run: composer run tool:php-cs-fixer-check

      - name: Run phpstan checks
        run: composer run tool:phpstan

      #- name: Unit Tests with phpunit
      #  run: composer run tool:phpunit --

      #- name: Run DepTrac
      #  run: composer run tool:deptrac

